#container-layout {
    margin: auto;
    width: 80%;
}

.pinterest-layout-container,
.image-container {
    width: 100%;
    overflow: hidden;
    column-count: 3;
    column-gap: 1.875em;
    column-fill: auto;
    &-item,
    &-layout {
        margin-bottom: 1.875em;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1vw;
        }
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.one-image-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    &-img {
        width: 20vw;
    }
    &-info {
        padding: 15px;
    }
}